alabaster==1.0.0
appdirs==1.4.4
argcomplete==3.6.2
asttokens==3.0.0
attrs==25.4.0
autocommand==2.2.2
Automat==25.4.16
babel==2.17.0
beautifulsoup4==4.14.3
blessed==1.21.0
bpython==0.26
btrfsutil==6.17.1
build==1.3.0
CacheControl==0.14.4
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.2.1
constantly==23.10.4
cryptography==46.0.3
cssselect==1.3.0
curtsies==0.4.3
cwcwidth==0.1.12
dbus-python==1.4.0
decorator==5.2.1
deluge==2.2.0
distro==1.9.0
docopt==0.6.2
docutils==0.22.3
evdev==1.9.2
executing==2.2.1
filelock==3.20.0
GeoIP==1.3.2
gpg==2.0.0b25
greenlet==3.2.4
gufw==26.4.0
hyperlink==21.0.0
idna==3.11
ifaddr==0.2.0
imagesize==1.4.1
incremental==24.7.2
installer==0.7.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
Jinja2==3.1.6
lensfun==0.3.4
libfdt==1.7.2
libtorrent==2.0.11
libvirt-python==11.10.0
lit==21.1.6.dev0
lockfile==0.12.2
lxml==6.0.2
Mako==1.3.10.dev0
MarkupSafe==3.0.2
mat2==0.14.0
matplotlib-inline==0.2.1
moddb==0.14.0
more-itertools==10.8.0
MouseInfo==0.1.3
msgpack==1.1.2
mutagen==1.47.0
nanobind==2.9.2
nftables==0.1
numpy==2.3.5
OpenTimelineIO==0.18.1
packaging==25.0
parso==0.8.5
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
prompt_toolkit==3.0.52
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
pyaaf2==1.7.1
pyalsa==1.2.14
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pybind11==3.0.1
pycairo==1.29.0
pycparser==2.23
pyelftools==0.32
Pygments==2.19.2
PyGObject==3.54.5
PyMsgBox==2.0.1
PyOpenGL==3.1.9
pyOpenSSL==25.3.0
pyperclip==1.11.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.17.1
PyScreeze==1.0.1
pyserial==3.5
PySide6==6.10.1
PySocks==1.7.1
python-xlib==0.33
pytweening==1.2.0
pytz==2025.2
pywal==3.3.0
pyxdg==0.28
PyYAML==6.0.3
ranger-fm==1.9.4
Reflector==2023.6.28.0.36.1
rencode==1.0.8
requests==2.32.5
roman-numerals-py==3.1.0
scour==0.38.2
screenkey==1.5
service-identity==24.2.0
setproctitle==1.3.7
setuptools==80.9.0
shiboken6==6.10.1
shiboken6-generator==6.10.1
six==1.17.0
snowballstemmer==2.2.0
soupsieve==2.8
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack_data==0.6.3
TBB==0.2
tinycss2==1.5.1
torbrowser-launcher==0.3.7
traitlets==5.14.3
Twisted==24.7.0
typing_extensions==4.15.0
ueberzug==18.3.1
ufw==0.36.2
urllib3==2.5.0
wcwidth==0.2.14
webencodings==0.5.1
wheel==0.45.1
zope.interface==8.1.1
zstandard==0.25.0
